* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 50px;
  max-width: 1080px;
  margin: 0 auto;
}

.canvas-wrap {
  width: 980px;
  margin: 20px auto 20px auto;
  position: relative;
  border: 6px dashed #2e3138;
  border-radius: 32px;
  overflow: hidden;
  height: 600px;
}

#canvas {
  width: 100%;
  height: 100%;
  background: #fff;
  display: block;
  margin: 0 auto;
}

.button {
  outline: none;
  padding: 10px 32px;
  background: #fff;
  border: none;
  color: #333;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background: #f7f7f7;
}

.button.success {
  background: #42d3ad;
  border: 1px solid #42d3ad;
  color: #fff;
}
.button.success:hover {
  background: #60ecb7;
}

.image-picker {
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer {
    display: flex;
    flex-flow: row nowrap;
}
.button-wrap {
    padding: 0 40px;
    flex: 1;
}
.color-rect {
  width: 40px;
  height: 40px;
  background: #000;
  margin-bottom: 30px;
}
.range-title {
    margin-bottom: 30px;
    font-size: 14px;
}
.range {
    width: 500px;
}
.tip {
  color: #999;
  font-size: 12px;
  margin-bottom: 15px;
}